#app {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $grid-gutter;
  }
}

.main {
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

.container {
  max-width: $container-width-md;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $grid-breakpoint-lg) {
    max-width: $container-width-lg
  }

  @media (min-width: $grid-breakpoint-xl) {
    max-width: $container-width-xl
  }

  &--fluid {
    max-width: 100%;
  }
}

.grid-container {
  padding: $grid-gutter;
  max-width: $container-width-md;
  margin: 0 auto;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $grid-gutter;
    grid-column: span 12;
  }

  @media (min-width: $grid-breakpoint-lg) {
    max-width: $container-width-lg
  }

  @media (min-width: $grid-breakpoint-xl) {
    max-width: $container-width-xl
  }

  &--gutterless {
    padding-left: 0;
    padding-right: 0;
  }

  &--fluid {
    max-width: 100%;
  }
}
