---
layout: page
title: timeless games
permalink: /timeless-games/
pagination:
  enabled: true
  per_page: 10
  collection: timeless-games
---

{% if paginator.page == 1 %}
<p>The day I started transitioning into a full-time PC gamer was the day I started exploring all kinds of games that I could ever get my hands on, from any genre and background. Sure, I played more on consoles/handhelds than on PCs back in the day, but PC gaming was never out of the question.</p>

<p>Among all of the games that I own, very few have I realised the importance of these games and how important they were in shaping up who I am today. Some of these games have their own "special thing" which gripped me to the point that I was hooked, and the moments that I experienced while playing them have always been worth it. These games are worthy of mentioning just for that sole reason.</p>

<p>And that's the reason I set up Timeless Games. It is a curated list of all the games that I've spent the most time on, had the most enjoyment in, and which experience I'll remember fondly for many years to come. Most of the games featured will be PC games, but I'll try to include some console games as well.</p>
{% endif %}

{% include html/archives/timeless-games-paginated.html %}

{% include html/pagination.html %}
