<div class="archive">
  {% assign post_count = paginator.posts | size %}
  {% if post_count > 0 %}
    {% for post in paginator.posts %}
    <a href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ site.baseurl }}{{ post.url }}{% endif %}"{% if post.external_url %} target="_blank"{% endif %}>
      <div class="archive-item">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="archive-date">{{ post.date | date_to_string }}</time>
        <span class="archive-title">{{ post.title }}</span>
        {% if post.redirect_to or post.external_url %}
          &raquo;
        {% endif %}
      </div>
    </a>
    {% endfor %}
  {% else %}
    <div class="archive-item">
      <span class="text-muted">No posts available.</span>
    </div>
  {% endif %}
</div>
