.header {
  color: $body-color;

  @media (min-width: $grid-breakpoint-md) {
    display: flex;
    flex-direction: row;
  }

  @supports (display: grid) {
    grid-column: span 12;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  padding: .25rem 0;

  @media (min-width: $grid-breakpoint-md) {
    padding-right: 1rem;
  }

  &__link {
    display: inline-block;
    color: inherit;
    font-weight: 400;
    color: $white;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.header-menu {
  @media (min-width: $grid-breakpoint-md) {
    display: flex;
    flex-grow: 1;
  }

  &__item {
    display: inline-block;
    padding: .25rem 0;
    padding-right: 1rem;
    color: inherit;
    font-weight: 300;

    @media (min-width: $grid-breakpoint-md) {
      padding-right: 1rem;

      &:before {
        padding-right: 1rem;
        content: "/";
      }
    }

    a {
      display: inline-block;
      color: inherit;

      &:hover,
      &:focus {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
