.photography-list {
  margin: 1rem 0;
}

.photography-list-item {
  @supports (display: grid) {
    grid-column: span 12;

    @media (min-width: $grid-breakpoint-md) {
      grid-column: span 6;
    }

    @media (min-width: $grid-breakpoint-xl) {
      grid-column: span 4;
    }
  }

  a {
    color: inherit;

    @include on-event {
      text-decoration: none;
      color: $white;

      figure {
        background-color: lighten($grey70, 5%);
      }
    }
  }

  figure {
    margin: 0;
    padding: .5rem;
    background-color: $grey70;

    img {
      margin: 0 auto;
      height: 16rem;
      object-fit: cover;
    }

    figcaption {
      text-align: center;
      margin-top: .5rem;
    }
  }
}
