<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}{% if page.collection %} &middot; {{ page.collection }}{% endif %} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.category == 'post' %}
  <meta name="author" content="{{ site.author.name }}">
  {% endif %}
  {% if page.title == "Home" %}
  <meta name="description" content="{{ site.description }}">
  {% elsif page.lead %}
  <meta name="description" content="{{ page.lead }}">
  {% elsif page.category == 'post' %}
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncatewords: 35, '…' | xml_escape }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}

  <meta content="{{ site.title | xml_escape }}" property="og:site_name">
  {% if page.title %}
  <meta content="{{ page.title | xml_escape }}{% if page.collection %} &middot; {{ page.collection | xml_escape }}{% endif %}" property="og:title">
  {% else %}
  <meta content="{{ site.title | xml_escape }}" property="og:title">
  {% endif %}
  {% if page.title == 'Home' %}
  <meta content="{{ site.description | xml_escape }}" property="og:description">
  {% elsif page.lead %}
  <meta content="{{ page.lead | xml_escape }}" property="og:description">
  {% elsif page.category == 'post' %}
  <meta content="{{ page.excerpt | strip_html | strip_newlines | truncatewords: 35, '…' | xml_escape }}" property="og:description">
  {% else %}
  <meta content="{{ site.description | xml_escape }}" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
  {% endif %}

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
