{{ define "title" }}
  {{ .Title }} &middot; Music &middot; {{ .Site.Title }}
{{ end }}
{{ define "head" }}
<meta name="description" content="Songs that I like. Songs you might like.">
<meta property="og:title" content="{{ .Title }} &middot; Music">
<meta property="og:description" content="Songs that I like. Songs you might like.">
{{ end }}
{{ define "main" }}
<div class="container content">
  <article class="article article--games">
    <span class="article-category">Music</span>
    <h1 class="article-title">{{ .Title }}</h1>
    <div class="article-content">
      <div class="game-metadata">
        {{ if isset .Params "release_year" }}
          <div class="game-metadata__release-year">
            <span>Released in {{ .Params.Release_Year }}</span>
          </div>
        {{ end }}
        {{ if isset .Params "album" }}
          <div class="game-metadata__release-year">
            <span>Album: {{ .Params.Album }}</span>
          </div>
        {{ end }}
      </div>
      {{ if isset .Params "youtube_embed_id" }}
        <div class="responsive-embed responsive-embed--16by9">
          <iframe class="responsive-embed__item" src="https://www.youtube-nocookie.com/embed/{{ .Params.YouTube_Embed_ID }}?rel=0" allowfullscreen></iframe>
        </div>
      {{ end }}
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
