// Styles specific for ttbp

.ttbp-header {
  margin: 0;
}

#tlogs {
  margin-top: 2em;
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }

  > p {
    display: none;
  }

  .entry {
    margin-top: 2em;
    margin-bottom: 4em;

    h5 {
      margin-top: 0;
      margin-bottom: 1rem;
      @include section-heading;

      a {
        color: $ttbp-permalink-date-link-color;
      }
    }

    // `<h1>` and `<h2>` are reserved exclusively for post titles.
    h1, h2 {
      margin-top: -0.5rem;
    }

    // Permalink button's CSS is hard-coded, so !important is necessary.
    p:last-child {
      font-size: 0.85rem !important;

      a {
        @include highlighted-text($ttbp-permalink-background-color);
        color: $heading-color;
      }
    }
  }
}
