.article--photography {
  .responsive-embed {
    margin: 2rem 0;
    border: 10px solid $grey70;
  }

  .photo-item {
    border: 10px solid $grey70;
    background-color: $grey70;

    img {
      margin: 0 auto;
      object-fit: cover;
      vertical-align: middle;

      @media (min-width: $grid-breakpoint-md) {
        height: 72vh;
      }
    }
  }
}
