<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ block "head" . }}
    {{ end }}
    <meta property="og:url" content="{{ .Permalink }}">

    <link rel="canonical" href="{{ .Permalink }}">


    <link rel="icon" type="image/png" sizes="192x192" href="{{ "/android-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ "/windows-tile-icon.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}">
    <link rel="shortcut icon" href="{{ "/favicon.png" | relURL }}">

    {{ $style := resources.Get "scss/app.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}" />
  </head>
  <body>
    {{ partial "header.html" . }}

    <main role="main" class="main">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
  </body>
</html>
