{{ define "title" }}
  {{ .Title }} &middot; Timeless Games &middot; {{ .Site.Title }}
{{ end }}
{{ define "head" }}
<meta name="description" content="{{ .Summary }}">
<meta property="og:title" content="{{ .Title }} &middot; Timeless Games">
<meta property="og:description" content="{{ .Summary }}">
{{ end }}
{{ define "main" }}
<div class="container content">
  <article class="article article--games">
    <span class="article-category">Timeless Games</span>
    <h1 class="article-title">{{ .Title }}</h1>
    <div class="article-content">
      <div class="game-metadata">
        {{ if isset .Params "release_year" }}
          <div class="game-metadata__release-year">
            <span>Released in {{ .Params.Release_Year }}</span>
          </div>
        {{ end }}
        <div class="game-metadata-genre">
          {{ range .Params.Genre }}
            <span class="game-metadata-genre__item">{{ . }}</span>
          {{ end }}
        </div>
      </div>
      {{ if isset .Params "youtube_embed_id" }}
        <div class="responsive-embed responsive-embed--16by9">
          <iframe class="responsive-embed__item" src="https://www.youtube-nocookie.com/embed/{{ .Params.YouTube_Embed_ID }}?rel=0" allowfullscreen></iframe>
        </div>
      {{ else if isset .Params "header_image_url" }}
        <figure class="photo-item">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ .Params.Header_Image_URL | relURL }}"
            class="lazyload">
        </figure>
      {{ end }}
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
