{{ define "title" }}
  404 - Page not found. &middot; {{ .Site.Title }}
{{ end }}
{{ define "head" }}
<meta name="description" content="{{ .Site.Params.Subtitle }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Site.Params.Subtitle }}">
{{ end }}
{{ define "main" }}
<div class="container content">
  <article class="article">
    <h1 class="article-title">404.</h1>
    <div class="article-content">
      <p class="lead">You've hit the void. <a href="{{ "/" | relURL }}">Go back.</a></p>
    </div>
  </article>
</div>
{{ end }}
