<div class="archive">
  {% assign post_count = paginator.posts | size %}
  {% if post_count > 0 %}
    {% for post in paginator.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="archive-item">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="archive-date">{{ post.date | date_to_string }}</time>
        <span class="archive-category">{{ post.category }}</span>
        <span class="archive-title">{{ post.title }}</span>
      </div>
    </a>
    {% endfor %}
  {% else %}
    <div class="archive-item">
      <span class="text-muted">No posts available.</span>
    </div>
  {% endif %}
</div>
