<div class="pagination">
  {% if paginator.previous_page %}
    <div class="pagination-column">
      <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous page</a>
    </div>
  {% else %}
    <div class="pagination-column">
      <span class="pagination-item pagination-item-disabled">Previous page</span>
    </div>
  {% endif %}
  {% if paginator.next_page %}
    <div class="pagination-column">
      <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next page</a>
    </div>
  {% else %}
    <div class="pagination-column">
      <span class="pagination-item pagination-item-disabled">Next page</span>
    </div>
  {% endif %}
</div>
