<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container home">

      {% include html/header.html %}

      <hr>

      <h2>latest posts</h2>

      {% include html/archive-home.html %}

      <p>
        Explore:
        <a href="{{ site.baseurl }}/blog">blog posts</a>,
        <a href="{{ site.baseurl }}/photography">photography</a>,
        <a href="{{ site.baseurl }}/archive">archive</a>.
      </p>

      <hr>

      <main>
        {{ content }}
      </main>

      <hr>

      {% include html/footer.html %}

    </div>

    {% include scripts.html %}

  </body>
</html>
