---
layout: page
---

{% if page.release_year %}
<h2>release year</h2>
<p>{{ page.release_year }}</p>
{% endif %}

{% if page.album %}
<h2>album</h2>
<p>{{ page.album }}</p>
{% endif %}

{% if page.genre %}
<h2>genre</h2>
<p>{{ page.genre }}</p>
{% endif %}

{% if page.youtube_embed_id %}
<div class="video-wrapper">
  <iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/{{ page.youtube_embed_id }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}

{{ content }}
