---
layout: page
---

{% if page.photo_url %}
{% if page.alt_text %}
<figure>
  <a href="{{ site.baseurl }}{{ page.photo_url }}">
    <img src="{{ site.baseurl }}{{ page.photo_url }}" alt="{{ page.alt_text }}">
  </a>
</figure>
{% else %}
<figure>
  <a href="{{ site.baseurl }}{{ page.photo_url }}">
    <img src="{{ site.baseurl }}{{ page.photo_url }}">
  </a>
</figure>
{% endif %}
{% endif %}

{% if page.exif %}
<h2>EXIF data</h2>
<ul>
  <li><strong>Camera:</strong> {{ page.exif.camera }}</li>
  <li><strong>Focal Length:</strong> {{ page.exif.zoom }}</li>
  <li><strong>Shutter Speed:</strong> {{ page.exif.shutter_speed }}</li>
  <li><strong>Aperture:</strong> {{ page.exif.aperture }}</li>
  <li><strong>ISO/Film:</strong> {{ page.exif.iso }}</li>
  <li><strong>Taken:</strong> {{ page.exif.taken }}</li>
</ul>
{% endif %}

{{ content }}

<a class="text-highlight-padding text-base00 bg-base0A" href="{{ site.baseurl }}/photography">return to photography &rarr;</a>
