---
layout: page
---

{% if page.header_image_url %}
<figure class="hidden-md">
  <img src="{{ site.baseurl }}{{ page.header_image_url }}" alt="{{ page.title }}">
</figure>
{% elsif page.youtube_embed_id %}
<div class="video-wrapper">
  <iframe width="700" height="394" src="https://www.youtube.com/embed/{{ page.youtube_embed_id }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}

<h2>Release year</h2>
<p>{{ page.release_year }}</p>

<h2>Genre</h2>
<p>{{ page.genre | join: ', ' }}</p>

<h2>Notes</h2>
{{ content }}

<a class="widget-link-button" href="{{ site.baseurl }}/timeless-games">return to timeless games</a>
